/* 
    Created on : 24-ene-2020, 10:43:20
    Author     : daw207
*/
body{
    font-family: 'Playfair Display', serif;
}
#cerrarSesion{
    background-image :url('../images/logout.png');
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
}
#info{
    background-image :url('../images/information.png');
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    background-size: 25px;
    width: 25px;
    height: 25px;
}
.fotoTicket{
    width: 100px;
    height: 100px;
}

.foto_small{
    width: 50px;
    height: 50px;
}
#perfil{
    background-image: url('../images/user.png');
    background-repeat: no-repeat;    
    background-color: transparent;   
    border: none;

}
.footer{  
    color:white;
}
.panel_informativo{
    background-color: lightgray;  
    border-left: 6px solid gray;
    border-radius: 25px;
    margin-left: 5px;
}

.panel_informativo_bd{
    background-color: lightskyblue;  
    border-left: 6px solid blue;
    border-radius: 25px;
}

.titulo_app{
    color: white; font-size: 18pt
}

#logotipo_dual{
    width: 80px;
    height: 80px;
}

.borde_logo{
    border: black 2px solid; background-color: white;
}

/*Movil site vertical */
@media only screen and (max-width:480px){
    header{
        /*margin-bottom: 6rem;*/ 
        font-size: 10px;
        padding: 0px;
    }

    .titulo_app{
        color: white; font-size: 14pt
    }

    main{
        min-height: 63vh;
    }
    footer,.footer{
        align-self: center;
        font-size: 8px; 
    }
    h1{
        font-size: 25px;
    }
    #perfil,#cerrarSesion{
        background-size: 15px;
        width: 15px;
        height: 15px;
    }
    a,label{
        font-size: 10px;
    }
    #logotipo{
        width: 34px;
        height: 34px;
    }
    #logoInstituto img{
        width: 34px;
        height: 34px;
    }
    #logoInstituto a{   
        align-self: center;
        width: 100%;
    }
}
/*Tablet Apps */
@media only screen and (min-width:481px) and (max-width:1024px){
    header{
        /*margin-bottom: 3.5rem;*/ 
    }
    #logotipo{
        width: 64px;
        height: 64px;
    }
    main{
        min-height: 100vh;
    }

    #perfil,#cerrarSesion{
        background-size: 234px;
        width: 24px;
        height: 24px;
    }
    #logoInstituto{        
        align-self: center;
        width: 64px;
        height: 64px;
        justify-content: center;
    }
}
/*Pantalla de escritorio WebSite */
@media only screen and (min-width:1025px){
    header{
        /*margin-bottom: 3.5rem;*/ 
    }
    #logotipo{
        width: 200px;
    }

    #logotipo_dual{
        width: 80px;
        height: 80px;
    }

    .borde_logo{
        border: black 2px solid; background-color: white;
    }

    .titulo_app{
        color: white; font-size: 25pt
    }

    .minh-100 {
        height: 100vh;
    }

    main{
        /*        margin-top:  4rem; 
                margin-bottom: 4rem; */
        min-height: 30rem;
    }

    #perfil,#cerrarSesion{
        background-size: 34px;
        width: 34px;
        height: 34px;
    }
    #logoInstituto{        
        align-self: center;
        width: 120px;
        height: 80px;
        justify-content: center;
    }   
}