/* 
    Created on : 23-ene-2020, 10:58:07
    Author     : daw209
*/

#cerrarSesion{
    background-image :url('../images/logout.png');
    background-repeat: no-repeat;
    background-size: 64px;
    background-color: transparent;
    width: 64px;
    height: 64px;
    border: none;

}
#perfil{
    background-image: url('../images/user.png');
    background-repeat: no-repeat;
    background-size: 64px;
    background-color: transparent;
    width: 64px;
    height: 64px;
    border: none;

}

#eliminar{
    background-image :url('../images/delete.png');
    background-repeat: no-repeat;
    background-size: 64px;
    background-color: transparent;
    width: 64px;
    height: 64px;
    border: none;
}

#editar{
    background-image: url('../images/edit.png');
    background-repeat: no-repeat;
    background-size: 64px;
    background-color: transparent;
    width: 64px;
    height: 64px;
    border: none;
}

#buscar{
    background-image: url('../images/search.png');
    background-repeat: no-repeat;
    background-size: 64px;
    width: 64px;
    height: 64px;
}

#confirmar{
    background-image: url('../images/confirm.png');
    background-repeat: no-repeat;
    background-size: 64px;
    width: 64px;
    height: 64px;
}


main{
    margin-top: 7rem; 
}